$EASING-FUNCTION: cubic-bezier(0.4, 0, 0.2, 1);
$DIALOG-EASING: cubic-bezier(0.1, 0.9, 0.2, 1);
$ERROR-COLOR: #b00020;

$DEFAULT_TAB_MARGIN_TOP: 4px;

$DEFAULT_TAB_HEIGHT: 32px;

// Toolbar
$TOOLBAR_HEIGHT: 42px;

$TOOLBAR_BUTTON_WIDTH: 32px;
$TOOLBAR_BUTTON_HEIGHT: 32px;

$ADD_TAB_BUTTON_WIDTH: 28px;
$ADD_TAB_BUTTON_HEIGHT: 28px;

// tabs
$TAB_MAX_WIDTH: 240px;
