$transparency-text-high: 0.87;
$transparency-text-medium: 0.6;
$transparency-text-disabled: 0.38;
$transparency-icons-active: 0.87;
$transparency-icons-inactive: 0.6;
$transparency-icons-disabled: 0.38;
$transparency-dividers: 0.12;
